* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
}

body {
	background: url(../images/background.jpg);
}
 
.container {
	padding-left: 20%;
	padding-right: 20%;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.container{
		padding: 0;
	}
}

#game-screen {
	background-color: lemonchiffon;
	overflow: auto;
}

h1 {
	text-align: center;
	color: blue;
	background-color: lemonchiffon;
}

.answer:hover{
	border: blue solid 2px;
}